PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/brillianceDB?appName=brilliance-cluster
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d

# Add later when ready
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SMTP (Gmail: use App Password, not account password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-char-app-password
MAIL_FROM="Brilliance <your-email@gmail.com>"
